.user-detail-info {
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
}
.user-detail-info > * {
  width: 100%;
}
.user-detail-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}